.form {
  padding-top: 3px;
  margin-bottom: 15px;
}

.form__bg {
  background-color: #f2f2f2;
}

.form__tall {
  padding-top: 38px;
}

.form__fieldset {
  padding: 20px;
  padding-top: 38px;
  padding-bottom: 44px;
  border: 0;
  margin: 0 auto;
}

.form__fieldset--borderless {

}


.form__legend {
  // position: absolute;
  padding: 0;
  margin-bottom: 3px;
  color: #d22856;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.form__group {
  margin: 0;
  margin-bottom: 25px;
}

.form__group:last-child {
  margin-bottom: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  color: #d22856;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__label-text {
  padding-left: 23px;
  margin-bottom: 13px;
}

.form__input {
  width: calc(100% - 4px);
  align-self: center;
}

.form__checkbox {
  margin-bottom: 47px;
  margin-left: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio {
  margin-bottom: 38px;
  margin-left: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__textarea {
  width: calc(100% - 4px);
  height: 197px;
  padding: 13px 20px;
  border: 0;
  margin: 0;
  margin-top: -23px;
  margin-left: 2px;
  border-radius: 3px;
  color: #283645;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  outline: 2px solid #e5e5e5;
  resize: none;
}

.form__box {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form__submit {
  margin-bottom: 34px;
}

.form__hint {
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__hint-star {
  color: $special;
}

