$menu-delay: 0.5s;

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: rgba(#000000, 0.3);

  .no-js & {
    position: static;
  }

  @media (min-width: $desktop-width) {
    .no-js & {
      position: absolute;
    }
  }
}

.header__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 20px;
  }
}

.header__nav {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.header__logo-link {
  display: block;
  min-height: 70px;
  padding: 23px 0;
  padding-right: 100px;
  padding-left: 20px;
  border-bottom: 1px solid transparent;
  color: #ffffff;
  outline: none;
  transition: all $menu-delay;

  .no-js &,
  .menu-open & {
    border-bottom: 1px solid #000000;
    background-color: $basic;
  }

  &:hover {
    color: $special;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  svg {
    display: none;
    max-width: 100%;
  }

  @media (max-width: $tablet-width - 1) {
    & .logo-mobile {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;


    & .logo-tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 16%;
    padding-right: 0;
    padding-left: 0;

    .no-js & {
      background-color: transparent;
    }

    & .logo-tablet {
      display: none;
    }

    & .logo-desktop {
      display: block;
    }

    &:hover path,
    &:focus path,
    &:active path {
      fill: currentcolor;
    }
  }
}

.logo-mobile {
  width: 74px;
  height: 23px;
}

.logo-tablet {
  width: 145px;
  height: 40px;

  .header & path {
    fill: currentcolor;
  }
}

.logo-desktop {
  width: 147px;
  height: 40px;
}

.header__trigger {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translateY(-50%);
  }

  .no-js & {
    display: none;
  }

  span,
  span::before,
  span::after {
    transition: all $menu-delay;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__trigger--closed {
  top: 21px;

  @media (min-width: $tablet-width) {
    top: 43px;
  }

  span {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
  }

  span::before,
  span::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    content: "";
  }

  span::before {
    top: -10px;
  }

  span::after {
    bottom: -10px;
  }
  // Hover, Focus
  &:hover span,
  &:hover span::before,
  &:hover span::after,
  &:focus span,
  &:focus span::before,
  &:focus span::after {
    background-color: $special;
  }

  //Active
  &:active span,
  &:active span::before,
  &:active span::after {
    background-color: rgba($special, 0.3);
  }
}

.header__trigger--opened {
  top: 23px;

  @media (min-width: $tablet-width) {
    top: 43px;
  }

  span {
    width: 30px;
    height: 3px;
    background-color: transparent;
  }

  span::before,
  span::after {
    position: absolute;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    content: "";
  }

  span::before {
    transform: rotate(45deg);
  }

  span::after {
    transform: rotate(-45deg);
  }

  //Hover, Focus
  &:hover span::before,
  &:hover span::after,
  &:focus span::before,
  &:focus span::after {
    background-color: $special;
  }

  //Active
  &:active span::before,
  &:active span::after {
    background-color: $special;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__list {
  @include reset-list;

  position: absolute;
  width: 100%;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform $menu-delay;
  visibility: hidden;

  .no-js & {
    position: static;
    transform: none;
    visibility: visible;
  }

  .menu-open & {
    transform: scaleY(1);
    visibility: visible;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
    width: 66%;
    min-height: 110px;
    flex-wrap: wrap;
    padding-top: 26px;
    transform: none;
    visibility: visible;

    li:not(:last-child) {
      margin-right: 79px;
    }
  }
}

.header__link {
  display: block;
  padding: 14px 20px 16px;
  border-top: 1px solid rgba(#000000, 0.15);
  border-bottom: 1px solid #000000;
  background-color: $basic;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $special;
  }

  &:active {
    color: rgba($special, 0.3);
  }

  @media (min-width: $desktop-width) {
    padding: 19px 0 17px;
    border: 0;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;


    &:active {
      color: rgba(#ffffff, 0.3);
    }

    &--current {
      border-bottom-color: #ffffff;
    }
  }
}
