
.intro {
  min-height: 237px;
  padding-top: 70px;

  margin-bottom: 41px;
  background: #1d384b url("@img/intro/back-mobile.jpg") 50% 0  no-repeat;
  // background-color: #1d384b;
  color: #ffffff;

  @media (min-width: $mobile-width + 1) {
    background: #1d384b url("@img/intro/back-tablet.jpg") 50% 0 / auto 462px no-repeat;
  }

  @media (min-width: $tablet-width) {
    min-height: 440px;
    padding-top: 110px;
    margin-bottom: 46px;
    background: #1d384b url("@img/intro/back-tablet.jpg") 50% 0  no-repeat;
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    margin-bottom: 62px;
    background: #1d384b url("@img/intro/back-desktop.jpg") 50% 0  no-repeat;
  }
}

.intro--inner {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 91px;
  }
}


.intro__wrapper {
  padding-top: 20px;
  padding-bottom: 31px;
  background: url("@img/intro/hand-mobile.png") 50% 106px no-repeat;

  @media (min-width: $tablet-width) {
    padding-bottom: 114px;
    background: url("@img/intro/hand-tablet.png") 50% 74px no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 125px;
    background: url("@img/intro/hand-desktop.png") 36px 98px no-repeat;
  }
}

.intro__container {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.intro__title {
  display: block;
  margin: 0;
  margin-bottom: 342px;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 74px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 79px;
    margin-bottom: 36px;
    font-size: 50px;
    line-height: 68px;
  }

  &:last-child {
    padding-top: 24px;
    margin-bottom: 0;
    line-height: 33px;

    @media (min-width: $tablet-width) {
      margin-top: 43px;
      font-size: 50px;
      line-height: 68px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 35px;
      font-size: 50px;
      line-height: 68px;
    }
  }
}


.intro__button {
  display: block;
  width: 100%;
  padding: 15px 15px 16px;
  border: 3px solid #ffffff;
  margin-bottom: 30px;
  background-color: transparent;
  border-radius: 29px;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
  outline: none;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #ffffff;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
    color: $special;
  }

  &:active {
    background-color: #ffffff;
    box-shadow: none;
    color: rgba($special, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 14.5px;
    margin-bottom: 65px;
    font-size: 21px;
  }
}

.intro__list {
  @include reset-list;

  display: grid;
  justify-content: center;
  margin-bottom: 19px;
  gap: 30px;
  grid-template-columns: repeat(3, min-content);

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.intro__icon {
  display: block;
  width: 50px;
  height: 60px;
  background-image: url("@img/icons/icons.svg#apple-logo");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47px 56px;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.25);
  }

  &:active {
    opacity: 0.5;
    transform: scale(1);
  }
}

.intro__icon--android {
  background-image: url("@img/icons/icons.svg#android-logo");
  background-size: 43px 47px;

  @media (min-width: $desktop-width) {
    background-position: center 10px;
  }
}

.intro__icon--windows {
  background-image: url("@img/icons/icons.svg#microsoft-logo");
  background-position: center 14px;
  background-size: 44px 41px;


  @media (min-width: $mobile-width + 1) {
    background-position: 1px 10px;
  }

  @media (min-width: $desktop-width) {
    background-position: center 14px;
  }
}

.intro__text {
  margin: 0;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
