.page__center {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.page__wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__description {
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;

    .tablet-only {
      display: inline;
    }
  }
}
