.price {
  position: relative;
  padding-top: 101px;
  margin-top: 37px;
  background: #f2f2f2;
  line-height: 30px;
  text-align: center;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 19px solid #ffffff;
    border-right: 100vw solid transparent;
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding-top: 95px;
    padding-bottom: 68px;
    margin-top: 17px;

    &::before {
      border-top-width: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 146px;
    padding-bottom: 96px;
    margin-top: 8px;

    &::before {
      border-top-width: 80px;
    }
  }
}

.price__wrapper {
  overflow: hidden;
}

div.price__swiper {
  overflow: visible;
}

.price__swiper .swiper-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}


.price__column {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {

  }

  & > *:last-child {
    border-bottom-width: 2px;
  }
}

.price__column--table-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
  }
}

.price__column--table-only span {
  display: block;
  min-height: 47px;
  padding: 7px 8px 7px;
  padding-left: 15px;
  border: 1px solid #e5e5e5;
  border-left-width: 2px;

  @media (min-width: $desktop-width) {
    padding: 14px 22px 15px;
    font-size: 18px;
  }
}

.price__title {
  padding: 12px 10px 26px;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  background-color: $basic;
  color: #ffffff;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 22px;
  }
}

.price__title--hit {
  position: relative;
  overflow: hidden;
  padding-right: 35px;
  padding-left: 35px;

  &::before {
    position: absolute;
    top: 16px;
    left: -21px;
    width: 100px;
    background-color: $special;
    content: "хит";
    line-height: 23px;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      left: -28px;
      line-height: 19px;
    }

    @media (min-width: $desktop-width) {
      left: -20px;
      line-height: 23px;
    }
  }
}

.price__name {
  display: block;
  font-size: 16px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__money {
  display: block;
  font-size: 18px;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__check {
  padding: 14px  60px 15px 20px;
  border: 1px solid #e5e5e5;

  background-image: url("@img/icons/icons.svg#yes");
  background-position: top 19px right 18px;
  background-repeat: no-repeat;
  background-size: 31px 21px;
  text-align: left;
  text-transform: uppercase;

  .price__title + & {
    border-top: 0;
  }

  &--no {
    background-image: url("@img/icons/icons.svg#no");
    background-position: top 16px  right 20px;
    background-size: 27px 27px;
  }

  @media (min-width: $tablet-width) {
    height: 47px;
    background-position: center;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      background-position: center;
      visibility: hidden;
    }
  }

  @media (min-width: $desktop-width) {
    height: 61px;
  }
}

.price__pagination {
  margin-top: 41px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
