html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: $mobile-width;
  height: 100%;
  margin: 0;
  color: $basic;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


.mobile-only {
  display: none;

  @media (max-width: 320px) {
    display: block;
  }
}

.before-tablet {
  display: none;

  @media (max-width: $tablet-width - 1) {
    display: block;
  }
}

.tablet-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.desktop-only {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

