.control-input {
  align-items: center;
  padding: 14px 20px 15px;
  border: 0;
  border-radius: 3px;
  color: #283645;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  outline: 2px solid #e5e5e5;

  &::placeholder {
    color: $basic;
  }

  &:focus::placeholder {
    color: rgba($basic, 0.5);
  }

  &:hover,
  &:focus {
    outline-color: $basic;
  }

  &:active {
    outline-color: $special;
  }
}

.control-checkbox {
  display: flex;
  align-items: center;
  color: #283645;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  input:checked + &__mark {
    background-image: url("@img/icons/icons.svg#check-on");
    background-position: center 9px;
    background-repeat: no-repeat;
    background-size: 22px 16px;
  }

  &__mark {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-right: 22px;
    background-color: #ffffff;
    border-radius: 1px;
    cursor: pointer;
    outline: 2px solid #e5e5e5;
    outline-offset: 0;

    &:hover,
    &:focus {
      outline-color: $basic;
    }

    &:active {
      outline-color: $special;
    }
  }
}


.control-radio {
  display: flex;
  align-items: center;
  color: #283645;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  input:checked + &__mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-top: -7.5px;
    margin-left: -7.5px;
    background-color: $special;
    border-radius: 50%;
    content: "";
  }

  &__mark {
    position: relative;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 22px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    outline: 2px solid #e5e5e5;
    outline-offset: 0;

    &:hover,
    &:focus {
      outline-color: $basic;
    }

    &:active {
      outline-color: $special;
    }
  }
}

